/*#game-frame {
    margin: 0 auto;
    display: block;
    border-top: 10px solid black;
    border-left: 10px solid black;
    border-right: 10px solid black;
    border-radius: 16px 16px 0px 0px;
}

#game-options {
    max-width: 75%;
    margin: 0 auto;
    border: 10px solid black;
    display: flex;
    justify-content: space-between;
    border-radius: 0px 0px 16px 16px;
    color: #ffffff;
    background-color: #000000;
}

#game-options>b {
    display: inline-block;
}

.icons-options {
    padding-right: 15px;
    padding-top: 2px;
    margin: 0;
    display: inline-block;
}

.game-name-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-options {
    color: #ffffff;
}

#game-icon-sm {
    border-radius: 5px;
}*/

