@import url('https://site-assets.fontawesome.com/releases/v6.5.1/css/all.css');
@import url('./dropdown.css');
@import url('./sidebar.css');
@import url('./footer.css');
@import url('./themes.css');
@import url('./fonts.css');
@import url('./nav.css');

* {
    font-family: 'Lato';
    user-select: none;
    scroll-behavior: smooth;
    transition: 0.5s;
}

body {
    margin: 0px;
    background: var(--background-color);
    background-attachment: fixed;
    color: var(--text);
    padding-top: 20vh;
    background-repeat: no-repeat;
    opacity: 0.7;
}

.centered {
    text-align: center;
}

html {
    min-height: 100%;
}

body::-webkit-scrollbar-track {
    background: var(--solid);
    margin: 0;
}

body::-webkit-scrollbar-thumb {
    background: var(--scrollbar-color);
    border: 0.5vh solid var(--solid);
    background-clip: content-box;
    border-radius: 1vh;
}

body::-webkit-scrollbar-corner {
    background: #000;
}

::-webkit-scrollbar {
    width: 1.8vh;
}

::-webkit-scrollbar-track {
    background: transparent;
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-left: 1vh;
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-color);
    border: 0.5vh solid transparent;
    background-clip: content-box;
    border-radius: 1vh;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

.row {
    margin-top: 10vh;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}

.row.mainpage {
    position: absolute;
    margin-top: 0px;
    top: calc(calc(9vh + 2.5em) + 100px);
    bottom: 50px;
}

.hidden {
    display: none;
}

.search {
    margin-bottom: 20px;
    display: flex;
    

    input {
        width: 40vh;
        height: 7.5vh;
        border-radius: 2vh;
        font-size: 3vh;
        cursor: text;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        transition: all 0.5s ease;
        margin: 0px;
        padding: 0px;
        margin-right: 2.5px;
        margin-left: calc(50vw - calc(44vh + 45px));
        background-color: var(--background-darker);
    }

    input:focus {
        width: 50vh;
        margin-left: calc(50vw - calc(54vh + 45px));
    }

    input::placeholder {
        transition: opacity 0.3s ease;
    }

    input:focus::placeholder {
        opacity: 0;
    }

    select {
        height: 7.5vh;
        border-radius: 2vh;
        font-size: 3vh;
        background-color: var(--background-darker);
        margin-left: 0px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        margin: 0px;
    }

    button {
        text-align: center;
        box-shadow: 0.5vh 0.5vh 1vh 0vh var(--shadow-color);
        cursor: pointer;
        height: 7.5vh;
        background-color: var(--background-darker);
        color: var(--text);
        margin-left: 0px;
        border-radius: 0px;
        padding: 0px;
        margin: 0px;
        outline: none;
        border: none;
        margin-right: 2.5px;
        padding-left: 10px;
        padding-right: 10px;
    }

    button i {
        font-size: 3vh;
    }
}

i {
    margin: 1vh;
}

a {
    color: var(--text);
    text-decoration: none;
}

a.link {
    color: #2d81ff;
}

h1.title {
    text-align: center;
    font-size: 8vh;
}

hr {
    border: 0;
    height: 0.3vh;
    background-image: var(--hr-style);
}

.small {
    font-size: 3vh;
}

.proxytitle {
    margin-bottom: 1vh;
    font-size: 5.5vh;
}

.proxyDescription {
    text-align: center;
    font-size: 2.75vh;
    margin: 3vh;
}

.proxyinput {
    text-align: center;
    font-size: 2vh;
    box-shadow: 0.5vh 0.5vh 1vh 0vh var(--shadow-color);
    border: none;
    border-radius: 2vh;
    cursor: pointer;
    background: var(--sidebar-bg);
    width: 55vw;
    height: 6vh;
    color: var(--text);
    transition: 0.5s;
    margin: auto;
    margin-top: 2vh;
}

.proxyinput-index {
    text-align: center;
    font-size: 2vh;
    box-shadow: 0.5vh 0.5vh 1vh 0vh var(--shadow-color);
    border: none;
    border-radius: 2vh;
    cursor: pointer;
    background: var(--sidebar-bg);
    width: 20vw;
    height: 6vh;
    color: var(--text);
    transition: 0.5s;
    margin: auto;
    margin: 2vh;
    transition: all 0.5s ease;
}

.proxyinput-index:focus {
    width: 30vw;
}

button {
    text-align: center;
    border: none;
    border-radius: 1.5vh;
    cursor: pointer;
    background-color: var(--button-bg);
    color: var(--text);
    transition: 0.5s;
    font-size: 2.3vh;
    font-family: 'Lato';
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

input {
    text-align: center;
    box-shadow: 0.5vh 0.5vh 1vh 0vh var(--shadow-color);
    border: none;
    border-radius: 100px;
    cursor: pointer;
    background: var(--sidebar-bg);
    width: 25vh;
    height: 4vh;
    color: var(--text);
    transition: 0.5s;
    margin: auto;
    margin-top: 2vh;
}

input::placeholder {
    color: var(--text);
}

input:not(:read-only) {
    outline: none;
}

.blue {
    color: #2d81ff;
    display: inline-block;
    text-shadow: 0vh 0vh 1.5vh rgb(45, 129, 255);
}

select {
    text-align: center;
    box-shadow: 0.5vh 0.5vh 1vh 0vh var(--shadow-color);
    border: none;
    border-radius: 1vh;
    cursor: pointer;
    background-color: var(--button-bg);
    min-width: 7vh;
    height: 4vh;
    color: var(--text);
    transition: 0.5s;
    margin-left: 1vh;
    margin-right: 1vh;
    padding-left: 2vh;
    padding-right: 2vh;
    margin-top: 2vh;
}

.switch {
    position: relative;
    display: inline-block;
    width: 6vh;
    height: 3.4vh;
    margin-top: 2vh;
    cursor: pointer;
}

.switch input {
    opacity: 0;
    width: 6vh;
    height: 3.4vh;
    position: relative;
    z-index: 500;
    bottom: 2vh;
    cursor: pointer;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 1vh;
    box-shadow: 0.5vh 0.5vh 1vh 0vh var(--shadow-color);
    background-color: var(--switch-color);
}

.switch>label {
    position: relative;
    right: 6vh;
    font-size: 1.17em;
    top: 0.5vh;
}

.slider:before {
    position: absolute;
    content: '';
    height: 2.6vh;
    width: 2.6vh;
    left: 0.4vh;
    bottom: 0.4vh;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 1vh;
}

input:checked+.slider {
    background-color: var(--switch-active);
}

input:focus+.slider {
    box-shadow: 0 0 0.1vh var(--switch-color);
}

input:checked+.slider:before {
    -webkit-transform: translateX(2.6vh);
    -ms-transform: translateX(2.6vh);
    transform: translateX(2.6vh);
}

.games {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 3vh;
}

.popular-games {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 3vh;
}

.game {
    background: #fff;
    min-width: 20vh;
    min-height: 20vh;
    display: block;
    border: none;
    cursor: pointer;
    transition: .4s;
    overflow: hidden;
    position: relative;
    box-shadow: 0vh 0.75vh 1.5vh 0vh black;
    margin: 1vh;
    text-align: left;
    border-radius: 1.5vh;
}

.game.hidden {
    display: none;
}

.game:hover {
    filter: brightness(95%);
    transform: translateY(-0.2vh);
    border-color: #ffffff;
}

.game>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
    object-position: center;
}

.game:after {
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
}

.game>h3 {
    position: absolute;
    bottom: -0.5vh;
    left: 2vh;
    color: #fff;
    font-size: 1.8vh;
    z-index: 10;
}

.searchErr {
    margin-bottom: 100px;
}

.cheats {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 3vh;
}

.cheat {
    background: #fff;
    min-width: 20vh;
    min-height: 20vh;
    display: block;
    border: none;
    cursor: pointer;
    transition: .4s;
    overflow: hidden;
    position: relative;
    box-shadow: 0vh 0.75vh 1.5vh 0vh black;
    margin: 1vh;
    text-align: left;
    border-radius: 1.5vh;
}

.cheat:hover {
    filter: brightness(95%);
    transform: translateY(-0.2vh);
    border-color: #ffffff;
}

.cheat>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
    object-position: center;
}

.cheat:after {
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
}

.cheat>h3 {
    position: absolute;
    bottom: -0.5vh;
    left: 2vh;
    color: #fff;
    font-size: 1.8vh;
    z-index: 10;
}

.apps {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 3vh;
}

.app {
    background: #fff;
    min-width: 20vh;
    min-height: 20vh;
    display: block;
    border: none;
    cursor: pointer;
    transition: .4s;
    overflow: hidden;
    position: relative;
    box-shadow: 0vh 0.75vh 1.5vh 0vh black;
    margin: 1vh;
    border-radius: 2vh;
}

.app:hover {
    filter: brightness(95%);
    transform: translateY(-0.2vh);
    border-color: #ffffff;
}

.app>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
    object-position: center;
}

.app:after {
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
}

.app>h3 {
    position: absolute;
    bottom: -0.5vh;
    left: 2vh;
    color: #fff;
    font-size: 1.8vh;
    z-index: 10;
}

.app>span {
    position: absolute;
    bottom: 2vh;
    left: 2vh;
    color: #fff;
    z-index: 10;
    font-size: 1.5vh;
}

.notifications {
    top: 1%;
    width: 20%;
    position: fixed;
    z-index: 99999999999999999;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .5s;
    height: 2%;
}

.notifications>.notification {
    padding: 1.5vh;
    border-radius: 2vh;
    margin-top: 1vh;
    transition: .5s;
    cursor: pointer;
    background: var(--solid);
}

.notifications>.notification.error {
    background: rgba(171, 61, 222, 0.801);
    color: #fff;
    transition: .5s;
    inline-size: 100%;
    overflow-wrap: break-word;
}

.box {
    background: var(--background-color);
    padding: 5vh;
    border-radius: 2vh;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 0vh 0.5vh 1vh 0vh var(--shadow-color);
}

.center-content {
    text-align: center;
    justify-content: center;
    margin-top: 5vh;
}

.container {
    width: 100vw;
    background-color: var(--background-color);
    box-shadow: 0vh 0.75vh 1.5vh 0vh var(--shadow-color);
    padding: 2vw;
    border-radius: 2vh;
    color: var(--text);
    overflow: hidden;
    margin-left: 50px;
    margin-right: 25px;
    text-align: center;
}

.container.centered {
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.container.left {
    margin-right: 25px;
}

.container.right {
    margin-right: 50px;
    margin-left: 25px;
}

h1.nomargin {
    margin: 0px;
}

img.featured {
    height: calc(100vh - calc(calc(9vh + 2.5em) + 150px) - calc(9vh + 39px));
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    display: inline;
    margin-top: 2vh;
    cursor: pointer;
    border: solid;
    border-width: 0.5vh;
    border-radius: 2vh;
    border-color: rgba(0, 0, 0, 0);
    transition: border 0.5s linear;
    outline: none;
}

img.featured:hover {
    border-color: rgba(255, 255, 255, 1);
    transition: border 0.5s linear;
}

.content {
    margin-left: 100px;
    margin-right: 100px;
}

#changelog i {
    overflow: hidden;
    white-space: nowrap;
    display: block;
    /*Converting percentage into px so text-overflow: ellipsis; will apply*/
    width: calc(100% - 1px + 1px);
    text-overflow: ellipsis;
}

@keyframes beat {

    0%,
    50%,
    100% {
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%) scale(1.25, 1.25) rotate(-5deg);
        transform: translate(-50%, -50%) scale(1.25, 1.25) rotate(-5deg);
    }

    30%,
    80% {
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%) scale(1, 1) rotate(5deg);
        transform: translate(-50%, -50%) scale(1, 1) rotate(5deg);
    }
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}