@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
@import url('/assets/css/fonts.css');
@import url('/assets/css/themes.css');
@import url('/assets/css/games.css');
@import url('/assets/css/nav.css');
@import url('/assets/css/sidebar.css');
@import url('/assets/css/dropdown.css');

* {
    font-family: 'Lato';
    user-select: none;
    transition: all 0.5s ease;
    scroll-behavior: smooth;
}

html,
body {
    margin: 0px;
    background-color: var(--background-color);
    color: var(--text);
}

html {
    height: 100%;
}

::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-color);
    border: 4px solid transparent;
    background-clip: content-box;
    border-radius: 10px;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

a {
    color: var(--text);
    text-decoration: none;
}

h1 {
    text-align: center;
}

h3 {
    margin-bottom: 0px;
}

input {
    text-align: center;
    box-shadow: 0.5vh 0.5vh 1vh 0vh var(--shadow-color);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--button-bg);
    width: 250px;
    height: 40px;
    color: var(--text);
    transition: 0.4s;
    margin: auto;
    margin-top: 20px;
}

button {
    text-align: center;
    box-shadow: 0.5vh 0.5vh 1vh 0vh var(--shadow-color);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--button-bg);
    min-width: 70px;
    height: 40px;
    color: var(--text);
    transition: 0.4s;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
}

select {
    text-align: center;
    box-shadow: 0.5vh 0.5vh 1vh 0vh var(--shadow-color);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--button-bg);
    min-width: 70px;
    height: 40px;
    color: var(--text);
    transition: 0.4s;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
}

button:hover {
    opacity: 0.8;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-top: 20px;
}

.switch input {
    opacity: 0;
    width: 60px;
    height: 34px;
    position: relative;
    z-index: 500;
    bottom: 20px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 10px;
    box-shadow: 0.5vh 0.5vh 1vh 0vh var(--shadow-color);
    background-color: var(--switch-color);
}

.switch>label {
    position: relative;
    right: 60px;
    font-size: 1.17em;
    top: 5px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 10px;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--switch-color);
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}