@import url('https://site-assets.fontawesome.com/releases/v6.2.0/css/all.css');
@import url('/assets/css/fonts.css');
@import url('/assets/css/themes.css');
@import url('/assets/css/nav.css');
@import url('/assets/css/sidebar.css');
@import url('/assets/css/dropdown.css');
@import url('/asset/css/launcher.csss');

* {
    font-family: 'Lato';
    user-select: none;
    transition: all 0.5s ease;
    scroll-behavior: smooth;
}

html,
body {
    margin: 0px;
    background-color: var(--background-color);
    color: var(--text);
    text-align: center;
}

html {
    height: 100%;
}

::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-color);
    border: 4px solid transparent;
    background-clip: content-box;
    border-radius: 10px;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

.hidden {
    display: none;
}

i {
    margin: 10px;
}

a {
    color: var(--text);
    text-decoration: none;
}

h1 {
    text-align: center;
}

input {
    text-align: center;
    box-shadow: 0.5vh 0.5vh 1vh 0vh var(--shadow-color);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--button-bg);
    width: 250px;
    height: 40px;
    color: var(--text);
    transition: 0.4s;
    margin: auto;
    margin-top: 20px;
}

button {
    text-align: center;
    box-shadow: 0.5vh 0.5vh 1vh 0vh var(--shadow-color);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--button-bg);
    min-width: 70px;
    height: 40px;
    color: var(--text);
    transition: 0.4s;
}

.mainpageimage-button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  justify-content: center;
  width: 45vh;
  margin-top: 10vh;
  transition: all 0.4s ease;
}

.mainpageimage-button:hover{
  transform: scale(1.025);
    opacity: 1;
}

.mainpageimage-button img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 4vh;
  box-shadow: 0vh 0.75vh 1.5vh 0vh black;
}

select {
    text-align: center;
    box-shadow: 0.5vh 0.5vh 1vh 0vh var(--shadow-color);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--button-bg);
    min-width: 70px;
    height: 40px;
    color: var(--text);
    transition: 0.4s;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
}

button:hover {
    opacity: 0.8;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-top: 20px;
}

.switch input {
    opacity: 0;
    width: 60px;
    height: 34px;
    position: relative;
    z-index: 500;
    bottom: 20px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 10px;
    box-shadow: 0.5vh 0.5vh 1vh 0vh var(--shadow-color);
    background-color: var(--switch-color);
}

.switch>label {
    position: relative;
    right: 60px;
    font-size: 1.17em;
    top: 5px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 10px;
}

input:checked+.slider {
    background-color: var(--switch-active);
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--switch-color);
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.games {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 30px;
}

.game {
    min-width: 20vh;
    min-height: 20vh;
    display: block;
    border: none;
    cursor: pointer;
    transition: .4s;
    overflow: hidden;
    position: relative;
    box-shadow: 0vh 0.75vh 1.5vh 0vh black;
    margin: 1vh;
    border-radius: 1.5vh;
}

.game:hover { 
    filter: brightness(95%);
    transform: translateY(-2px);
    border-color: #ffffff;
}

.game>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
    object-position: center;
}

.game:after {
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
}

.game>h3 {
    position: absolute;
    bottom: 25px;
    left: 20px;
    color: #fff;
    font-size: 25px;
    z-index: 10;
}

.game>span {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #fff;
    z-index: 10;
    font-size: 15px;
}

.apps {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 30px;
}

.app {
    min-width: 200px;
    min-height: 200px;
    display: block;
    border-radius: 15px;
    border: 1px solid #ffffff;
    cursor: pointer;
    transition: .4s;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 0px 10px #00000020;
    margin: 10px;
}

.app:hover {
    box-shadow: 0px 0px 20px #00000030;
    filter: brightness(95%);
    transform: translateY(-2px);
    border-color: #ffffff;
}

.app>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
    object-position: center;
}

.app:after {
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
}

.app>h3 {
    position: absolute;
    bottom: 25px;
    left: 20px;
    color: #fff;
    font-size: 25px;
    z-index: 10;
    margin-bottom: 20px;
}

.app>span {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #fff;
    z-index: 10;
    font-size: 15px;
}

.notifications {
    top: 1%;
    width: 20%;
    position: fixed;
    z-index: 99999999999999999;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .5s;
    height: 2%;
}

.notifications>.notification {
    padding: 15px;
    border-radius: 20px;
    margin-top: 10px;
    transition: .5s;
    cursor: pointer;
    background: var(--solid);
}

;

.notifications>.notification.error {
    background: rgba(171, 61, 222, 0.801);
    color: #fff;
    transition: .5s;
    inline-size: 100%;
    overflow-wrap: break-word;
}

.box {
    background: var(--sidebar-bg);
    padding: 50px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 0px 5px 10px 0px var(--shadow-color);
}
