@import url('https://site-assets.fontawesome.com/releases/v6.2.0/css/all.css');
@import url('/assets/css/fonts.css');
@import url('/assets/css/themes.css');
@import url('/assets/css/nav.css');
@import url('/assets/css/sidebar.css');
@import url('/assets/css/dropdown.css');

* {
    font-family: 'Lato';
    user-select: none;
    scroll-behavior: smooth;
}

html,
body {
    margin: 0vh;
    background: var(--background-color);
    background-attachment: fixed;
    color: var(--text);
    text-align: center;
}

html {
    min-height: 100%;
}

body::-webkit-scrollbar-track {
    background: var(--solid);
    margin: 0;
}

body::-webkit-scrollbar-thumb {
    background: var(--scrollbar-color);
    border: 0.5vh solid var(--solid);
    background-clip: content-box;
    border-radius: 1vh;
}

body::-webkit-scrollbar-corner {
    background: #000;
}

::-webkit-scrollbar {
    width: 1.8vh;
}

::-webkit-scrollbar-track {
    background: transparent;
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-left: 1vh;
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-color);
    border: 0.5vh solid transparent;
    background-clip: content-box;
    border-radius: 1vh;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

.hidden {
    display: none;
}

i {
    margin: 1vh;
}

a {
    color: var(--text);
    text-decoration: none;
}

h1 {
    text-align: center;
    font-size: 8vh;
}

p {
    font-size: 4vh;
}

hr {
    border: 0;
    height: 0.3vh;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}


.welcome {
    padding-bottom: 0px;
}

.small {
    font-size: 3vh;
}

.settings-input {
    text-align: center;
    box-shadow: 0.5vh 0.5vh 1vh 0vh var(--shadow-color);
    border: none;
    border-radius: 2vh;
    cursor: pointer;
    background: var(--sidebar-bg);
    width: 25vh;
    height: 4vh;
    color: var(--text);
    transition: 0.4s;
    margin: auto;
    margin-top: 2vh;
}

.proxycontainer {
    background-color: var(--background-color);
    box-shadow: 0.5vh 0.5vh 1vh 0vh var(--shadow-color);
    width: 60vw;
    height: 30vh;
    margin: auto;
    margin-top: 10vh;
    padding-top: 1vh;
    padding-bottom: 2vh;
    padding-left: 1.5vh;
    padding-right: 1.5vh;
    border-radius: 2vh;
    color: var(--text);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.proxytitle {
    margin-bottom: 1vh;
    font-size: 5.5vh;
}

.proxyDescription {
    text-align: center;
    font-size: 2.75vh;
    margin: 3vh;
}

.proxyinput {
    text-align: center;
    font-size: 2vh;
    box-shadow: 0.5vh 0.5vh 1vh 0vh var(--shadow-color);
    border: none;
    border-radius: 2vh;
    cursor: pointer;
    background: var(--sidebar-bg);
    width: 55vw;
    height: 6vh;
    color: var(--text);
    transition: 0.4s;
    margin: auto;
    margin-top: 2vh;
}

button {
    text-align: center;
    border: none;
    border-radius: 1vh;
    cursor: pointer;
    background-color: var(--button-bg);
    height: 4vh;
    color: var(--text);
    transition: 0.4s;
    font-size: 2.5vh;
    font-family: 'Lato';
}

.mainpageimage-button {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    justify-content: center;
    width: 45vh;
    margin-top: 10vh;
    transition: all 0.4s ease;
}

.mainpageimage-button:hover {
    transform: scale(1.025);
    opacity: 1;
}

.mainpage-text {
    box-shadow: 0.5vh 0.5vh 1vh 0vh var(--shadow-color);
    background-color: var(--background-color);
    margin-right: 15vh;
    width: 75vh;
    height: 52vh;
    color: var(--text);
    text-align: center;
    border-radius: 2vh;
    opacity: 0.9;
    padding: 2vh;
    line-height: 2vh;
}

.mainpage-text>h1 {
    padding: 2vh;
    margin: 0px;
}

.mainpage-text>p {
    padding: 3vh;
    margin: 0px;
}

.blue {
    color: #2d81ff;
    display: inline-block;
    text-shadow: 0vh 0vh 1.5vh rgb(45, 129, 255);
}

.chromebook-btn-div {
    box-shadow: 0.5vh 0.5vh 1vh 0vh var(--shadow-color);
    background-color: var(--background-color);
    width: 30vh;
    height: 4.3vh;
    color: var(--text);
    text-align: center;
    border-radius: 2vh;
    justify-content: center;
    padding: 0.5vh;
    margin: 0 auto;
    margin-top: 3vh;
    position: relative;
    opacity: 0.9;
    padding: 2vh;
    line-height: 2vh;
}

.settings-button {
    box-shadow: 0.5vh 0.5vh 1vh 0vh var(--shadow-color);
}

select {
    text-align: center;
    box-shadow: 0.5vh 0.5vh 1vh 0vh var(--shadow-color);
    border: none;
    border-radius: 1vh;
    cursor: pointer;
    background-color: var(--button-bg);
    min-width: 7vh;
    height: 4vh;
    color: var(--text);
    transition: 0.4s;
    margin-left: 1vh;
    margin-right: 1vh;
    padding-left: 2vh;
    padding-right: 2vh;
    margin-top: 2vh;
}

button:hover {
    opacity: 0.8;
}

.switch {
    position: relative;
    display: inline-block;
    width: 6vh;
    height: 3.4vh;
    margin-top: 2vh;
    cursor: pointer;
}

.switch input {
    opacity: 0;
    width: 6vh;
    height: 3.4vh;
    position: relative;
    z-index: 500;
    bottom: 2vh;
    cursor: pointer;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 1vh;
    box-shadow: 0.5vh 0.5vh 1vh 0vh var(--shadow-color);
    background-color: var(--switch-color);
}

.switch>label {
    position: relative;
    right: 6vh;
    font-size: 1.17em;
    top: 0.5vh;
}

.slider:before {
    position: absolute;
    content: '';
    height: 2.6vh;
    width: 2.6vh;
    left: 0.4vh;
    bottom: 0.4vh;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 1vh;
}

input:checked+.slider {
    background-color: var(--switch-active);
}

input:focus+.slider {
    box-shadow: 0 0 0.1vh var(--switch-color);
}

input:checked+.slider:before {
    -webkit-transform: translateX(2.6vh);
    -ms-transform: translateX(2.6vh);
    transform: translateX(2.6vh);
}

.games {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 3vh;
}

.popular-games {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 3vh;
}

.game {
    min-width: 20vh;
    min-height: 20vh;
    display: block;
    border: none;
    cursor: pointer;
    transition: .4s;
    overflow: hidden;
    position: relative;
    box-shadow: 0vh 0.75vh 1.5vh 0vh black;
    margin: 1vh;
    text-align: left;
    border-radius: 1.5vh;
}

.game:hover {
    filter: brightness(95%);
    transform: translateY(-0.2vh);
    border-color: #ffffff;
}

.game>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
    object-position: center;
}

.game:after {
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
}

.game>h3 {
    position: absolute;
    bottom: -0.5vh;
    left: 2vh;
    color: #fff;
    font-size: 1.8vh;
    z-index: 10;
}

.apps {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 3vh;
}

.app {
    min-width: 20vh;
    min-height: 20vh;
    display: block;
    border: none;
    cursor: pointer;
    transition: .4s;
    overflow: hidden;
    position: relative;
    box-shadow: 0vh 0.75vh 1.5vh 0vh black;
    margin: 1vh;
    border-radius: 1.5vh;
}

.app:hover {
    filter: brightness(95%);
    transform: translateY(-0.2vh);
    border-color: #ffffff;
}

.app>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
    object-position: center;
}

.app:after {
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
}

.app>h3 {
    position: absolute;
    bottom: -0.5vh;
    left: 2vh;
    color: #fff;
    font-size: 1.8vh;
    z-index: 10;
}

.app>span {
    position: absolute;
    bottom: 2vh;
    left: 2vh;
    color: #fff;
    z-index: 10;
    font-size: 1.5vh;
}

.notifications {
    top: 1%;
    width: 20%;
    position: fixed;
    z-index: 99999999999999999;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .5s;
    height: 2%;
}

.notifications>.notification {
    padding: 1.5vh;
    border-radius: 2vh;
    margin-top: 1vh;
    transition: .5s;
    cursor: pointer;
    background: var(--solid);
}

;

.notifications>.notification.error {
    background: rgba(171, 61, 222, 0.801);
    color: #fff;
    transition: .5s;
    inline-size: 100%;
    overflow-wrap: break-word;
}

.box {
    background: var(--sidebar-bg);
    padding: 5vh;
    border-radius: 1vh;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 0vh 0.5vh 1vh 0vh var(--shadow-color);
}

.framei {
    border-radius: 2vh;
    box-shadow: 0vh 0.75vh 1.5vh 0vh var(--shadow-color);
    border-width: 3vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.mainiframe {
    position: relative;
}

.center-content {
    text-align: center;
    justify-content: center;
    margin-top: 5vh;
}

.frame {
    margin: auto;
    display: block;
    border-top: 3vh solid;
    border-left: 3vh solid;
    border-right: 3vh solid;
    border-radius: 4vh 4vh 0vh 0vh;
    background: #fff;
    height: 70vh;
    width: 75vw;
    outline: none;
    border-color: rgba(0, 0, 0);
}

.gamebar img {
    width: 3.5vh;
    height: 3.5vh;
    margin: 1vh;
    border-radius: 0.5vh;
}

.gamebar p {
    font-weight: 900;
    font-size: 2vh;
    margin: auto 0;
}

.gamebar i {
    font-size: 3vh;
    margin: auto 0;
    margin-left: auto;
    cursor: pointer;
}

.gamebar {
    width: 75vw;
    margin: 0 auto;
    border-left: 3vh solid black;
    border-right: 3vh solid black;
    display: flex;
    border-radius: 0vh 0vh 4vh 4vh;
    color: #ffffff;
    border-color: rgba(0, 0, 0);
    background: rgba(0, 0, 0);
}

.featuredcontainer {
    background-color: var(--background-color);
    box-shadow: 0.5vh 0.5vh 1vh 0vh var(--shadow-color);
    width: 80vh;
    height: 52vh;
    margin-left: 15vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 2vh;
    padding-right: 2vh;
    border-radius: 2vh;
    color: var(--text);
}

.featuredimg {
    width: calc(100% - 2vh);
    cursor: pointer;
    border: solid;
    border-width: 0.5vh;
    border-radius: 2vh;
    border-color: rgba(0, 0, 0, 0);
    transition: border 0.4s linear;
}


.featuredimg:hover {
    border-color: rgba(255, 255, 255, 1);
    transition: border 0.4s linear;
}

.featuredtopbar {
    padding-bottom: 2vh;
}
/*
.gamesectionheader{
    text-align: left;
    left: 10vh;
}*/
