@import url('/assets/css/fonts.css');
@import url('/assets/css/themes.css');

/*Please try to keep this organized*/

* {
    font-family: 'Lato';
}

html,
body {
    margin: 0px;
}

.navbar {
    width: calc(100%-margin);
    position: sticky;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.navbar>.title>img {
    width: 75px;
    border-radius: 10px;
}

.navbar>.title>span {
    font-family: 'Lato-Black';
    font-size: 60px;
    margin-left: 13px;
    position: relative;
    bottom: 13px;
}