.navbar {
    position: sticky;
    display: flex;
    justify-content: space-between;
    margin: 1.5vh;
}

.navbar>.title>img {
    width: 6vh;
    border-radius: 1vh;
}

.navbar>.title>span {
    font-family: 'Lato-Black';
    font-size: 3vh;
    margin-left: 1.3vh;
    position: relative;
    top: -2.8vh;
}

.navbar>.title>span>span {
    display: block;
    position: relative;
    font-size: 1.2vh;
    margin-left: 3vh;
}

.navbar>.end {
    display: flex;
    justify-content: space-between;
}

.navbar>.end>a {
    border-style: solid;
    border-width: 0.5vh;
    margin: 0.3rem;
    padding: 0.8rem;
    cursor: pointer;
    font-size: 2.7vh;
    border-radius: 2vh;
    border-color: rgba( 0, 0, 0, 0);
    transition: border-color 0.4s linear;
}

.navbar>.end>a:hover {
    border-color: rgba(255, 255, 255, 1);
}
