.navbar {
    box-shadow: 0vh 0.75vh 1.5vh 0vh var(--shadow-color);
    position: fixed;
    width: calc(calc(100% - 100px) - calc(1.5em * 2));
    background-color: var(--background-color);
    top: 0;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    color: rgb(255, 255, 255);
    z-index: 100;
    display: flex;
    border-radius: 2vh;
    padding: 1.5em;
    padding-bottom: 1em;
}

.navbar.scrolling {
    background-color: var(--background-darker);
}

.navbar>.title {
    margin: 1vh;
    margin-bottom: 0px;
}

.navbar>.title>img {
    width: 6vh;
    border-radius: 1vh;
}

.navbar>.title>span {
    font-family: 'Lato-Black';
    font-size: 3vh;
    margin-left: 1.3vh;
    position: relative;
    top: -2.8vh;
}

.navbar>.title>span>span {
    display: block;
    position: relative;
    font-size: 1.2vh;
    margin-left: 3vh;
}

.navbar>.right {
    position: absolute;
    right: 0;
    margin: 2vh;
    margin-top: 2.5vh;
    margin-right: 3vh;
}

.navbar>.right>a {
    border-style: solid;
    border-width: 0.5vh;
    margin: 0.3rem;
    padding: 0.8rem;
    cursor: pointer;
    font-size: 2.7vh;
    border-radius: 2vh;
    border-color: rgba( 0, 0, 0, 0);
    transition: border-color 0.4s linear;
}

.navbar>.right>a:hover {
    border-color: rgba(255, 255, 255, 1);
}
