.navbar {
    position: sticky;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.navbar>.title>img {
    width: 55px;
    border-radius: 10px;
}

.navbar>.title>span {
    font-family: 'Lato-Black';
    font-size: 40px;
    margin-left: 13px;
    position: relative;
    bottom: 13px;
}

.navbar>.end {
    display: flex;
    justify-content: space-between;
}

.navbar>.end>a {
    margin: 0.5rem;
    padding: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    cursor: pointer;
    font-size: 20px;
}
