.sidebar {
  position: fixed;
  top: 15vh;
  right: -60vh;
  width: 50vh;
  height: 75vh;
  background: var(--sidebar-bg);
  border-radius: 2vh;
  box-shadow: 0vh 0.75vh 1.5vh 0vh var(--shadow-color);
  text-align: center;
  z-index: 100;
  overflow-y: auto;
  padding: 1vh;
}

.sidebar.active {
  right: 5vh;
}

.sidebar>.scroll {
  position: fixed;
  box-shadow: 0.5vh 0.5vh 1vh 0vh var(--shadow-color);
  border-radius: 10px;
  cursor: pointer;
  background-color: var(--solid);
  width: 50vh;
  height: 0px;
  transition: 0.4s;
  margin: auto;
  top: 87vh;
  opacity: 0;
  z-index: 9999999999999999999;
}

.sidebar>.scroll.active {
  opacity: 1;
  height: 40px;
}

.sidebar>.scroll>span {
  font-size: 40px;
  margin: auto;
}

.sidebar button {
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
}

.sidebar h3 {
  margin-bottom: 0px;
}
