.sidebar {
  position: fixed;
  top: 15vh;
  right: -60vh;
  width: 50vh;
  height: 80vh;
  background: var(--sidebar-bg);
  border-radius: 4vh;
  box-shadow: 0px 5px 10px 0px black;
  text-align: center;
  z-index: 100;
}

.sidebar.active {
  right: 5vh;
}