<div id="bannerad728"></div>
<script type="module">
  import { createBareClient } from 'https://esm.sh/@tomphttp/bare-client@latest/dist/index.js';
  import { evalify } from '/assets/js/utils.js';

  const client = await createBareClient(location.origin + '/bare/');

  eval(evalify(() => {
    const window = {
      ...self,
      location: {
        ...self.location,
        replace: () => {
          throw new Error('Failed to redirect')
        }
      }
    };

    const location = {
      ...self.location,
      replace: () => {
        throw new Error('Failed to redirect')
      }
    };

    atOptions = {
      'key': 'cf0bb7d0401f5ae5534ac09c2e959d20',
      'format': 'iframe',
      'height': 90,
      'width': 728,
      'params': {}
    };

    {{ ad_src }}
  }).replace('{{ ad_src }}', await (await client.fetch('//outrightsham.com/cf0bb7d0401f5ae5534ac09c2e959d20/invoke.js')).text()));
</script>