<footer>
    <div class="title">
        <h1>Polaris</h1>

        <img src="/assets/img/logo.png" title="Polaris Logo">
    </div>

    <div class="socials">
        <a href="https://discord.gg/RXBbxQ4wuJ" target="_blank" rel="noopener noreferrer" title="EmberNetwork Discord">
            <i class="fa-brands fa-discord"></i>
        </a>

        <a href="https://github.com/Skoolgq/Polaris" target="_blank" rel="noopener noreferrer" title="Our Github">
            <i class="fa-brands fa-github"></i>
        </a>

        <a href="mailto:support@polarislearning.org" target="_blank" title="Contact Email">
            <i class="fa-solid fa-envelope"></i>
        </a>
    </div>

    <div class="right">
        <a href="https://forms.gle/9knPLmyAua5Z3wZv5">Suggest a Game</a>

        <a href="/privacy">Privace Policy</a>

        <a href="/TOS">Terms of Service</a>
    </div>

    <p>©2022-2023 Skool. All rights reserved.</p>
</footer>