<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="language" content="English">
<meta name="google" content="notranslate">
<meta name="charset" content="utf-8">
<meta name="title" content="Polaris">
<meta name="subject" content="unblocking">
<meta name="description" content="The professional unblocked gaming site.">
<meta name="author" content="Polaris Development Group">
<meta name="og:type" content="website">
<meta name="og:url" content="https://polarislearning.org/">
<meta name="og:title" content="Polaris">
<meta name="og:description" content="The professional unblocked gaming site.">
<meta name="og:image" content="https://polarislearning.org/assets/img/logo.png">