<div class="navbar">
  <a class="title" href="/">
    <img src="/assets/img/logo.png" />

    <span
      >Polaris
      <span>By Skool</span>
    </span>
  </a>

  <div class="right">
    <a href="/premium" class="premium" style="border-color: rgb(0, 60, 255);"
      ><i class="fa-solid fa-star"></i>Premium</a
    >
    <a href="/games" class="navButton"
      ><i class="fa-solid fa-gamepad-modern fa-xs"></i>Games</a
    >
    <a href="/apps" class="navButton"
      ><i class="fa-solid fa-rocket-launch fa-xs"></i>Apps</a
    >
    <a href="/search" class="navButton"
      ><i class="fa-solid fa-magnifying-glass fa-xs"></i>Proxy</a
    >
    <a href="/cheats" class="navButton"
      ><i class="fa-solid fa-computer fa-xs"></i>Cheats</a
    >
    <a
      href="#settings"
      class="navButton"
      data-action="no_redirect"
      data-attr="sidebar_trigger"
      ><i class="fa-solid fa-gear fa-sm"></i>Settings</a
    >
  </div>
</div>
