<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-KZRKZE212Q"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-KZRKZE212Q');
</script>
<div class="navbar">
    <a class="title" href="/">
        <img src="/assets/img/logo.png" loading="eager" />
        <span>Polaris<span>By Skool</span></span>
    </a>

    <div class="end">
        <a href="/games"><i class="fa-solid fa-gamepad-modern fa-xs"></i>Games</a>
        <a href="/apps"><i class="fa-solid fa-rocket-launch fa-xs"></i>Apps</a>
        <a href="/search"><i class="fa-solid fa-magnifying-glass fa-xs"></i>Proxy</a>
        <a href="/cheats"><i class="fa-solid fa-computer fa-xs"></i>Cheats</a>
        <a href="#settings" data-link="true" data-attr="sidebar_trigger"><i class="fa-solid fa-gear fa-sm"></i>Settings</a>
    </div>
</div>

<div class="sidebar">
    <div class="scroll">
        <i class="fa-solid fa-chevron-down"></i>
    </div>
    <h1>Settings</h1>

    <h3>Panic Key</h3>
    <input class="settings-input" type="text" name="Panic Key" id="panic_key" value="No Key Selected" readonly />
    <button class="settings-button" id="reset_panic">Reset</button>
    <br>
    <h3>Panic URL</h3>
    <input class="settings-input" type="url" id="panic_url" placeholder="eg: https://google.com" />
    <br>
    <h3>Theme</h3>
    <div id="themes">
        <button class="settings-button">System Default</button>
        <button class="settings-button">Dark</button>
        <button class="settings-button">Light</button>
        <button class="settings-button">Flamingo</button>
        <button class="settings-button">Frost</button>
        <button class="settings-button">Crimson</button>
        <button class="settings-button">Inferno</button>
        <button class="settings-button">Indigo</button>
        <button class="settings-button">Violet</button>
    </div>

    <h3>Tab Cloak</h3>
    <select id="cloak_select">
        <option value="none">None</option>
        <option value="custom">Custom</option>
        <option value="canvas">Canvas Dashboard</option>
        <option value="google">Google</option>
        <option value="classroom">Google Classroom</option>
    </select>
    <div class="hidden" id="custom_cloak">
        <input class="settings-input" type="text" placeholder="Title" id="title" />
        <input class="settings-input" type="text" placeholder="eg: google.com" id="domain" />
    </div>
    <br>
    <br>
</div>
<script src="https://polaris4.statuspage.io/embed/script.js"></script>