<div class="navbar">
    <a class="title" href="/">
        <img src="/assets/img/logo.png" />

        <span>Polaris
            <span>By Skool</span>
        </span>
    </a>

    <div class="right">
        <a href="/games"><i class="fa-solid fa-gamepad-modern fa-xs"></i>Games</a>
        <a href="/apps"><i class="fa-solid fa-rocket-launch fa-xs"></i>Apps</a>
        <a href="/search"><i class="fa-solid fa-magnifying-glass fa-xs"></i>Proxy</a>
        <a href="/cheats"><i class="fa-solid fa-computer fa-xs"></i>Cheats</a>
        <a href="#settings" data-action="no_redirect" data-attr="sidebar_trigger"><i class="fa-solid fa-gear fa-sm"></i>Settings</a>
    </div>
</div>